<header>
	<div class="info">
	     <h1>Онлайн тестування</h1>
	     <h2>Готуйся до екзаменів</h2>
	     <h2>Легко та швидко</h2>
	     <a href="#info">Детальніше</a>
	 </div>
 </header>

 <section id="info">
			<div class="cont"> 
				<div class="title"> 
					<p>Чому ми?</p>
				</div>
				<div class="pluses">
					<div>
						<img src="images/1.png" alt="plus">
						<h3>Швидко</h3>
						<p>
							Перевіряй, закріплюй та здобувай знання за лічені хвилини. 
						</p>
					</div>

					<div style="margin-left: 12%">
						<img src="images/2.png" alt="plus">
						<h3>Різноманітно</h3>
						<p>
							Велика і постійно оновлювана база тестів завжди під рукою.
						</p>
					</div>

					<div style="float: right">
						<img src="images/3.png" alt="plus">
						<h3>Ефективно</h3>
						<p>
							Проходь тести за минулі роки та перевіряй відповіді в реальному часі.
						</p>
					</div>
				</div>
			</div>
</section> 