body {
	margin: 0;
	background: #fff;
}

h3 {
	font-size: 24px;
	color: #555;
	text-align: center;
}

div {
	box-sizing:  border-box;
}

header {
	background: url(../images/bg.jpg) no-repeat center top / cover;
	width: 100%;
	height: 670px;
}

nav {
	float: right;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.boxmenu {
	position: fixed;
	width: 100%;
	height: 48px;
	background: #7ac7b3;
}

.logo {
	float: left;
	margin-left: 10%;
	margin-top: 10px;
	height:	28px;
	width: 110px;
}

.menu {
	padding: 0;
	margin: 0;
	float: right;
	margin-top: 10px;
}

.menu li {
	float: left;
	display: block;
	margin-right: 40px;
}

.menu a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

.info {
	height: 600px;
	width: 400px;
	margin-left: 10%;
	padding-top: 160px;
}

.info a {
	background: #f2b33d;
	color: #333;
	font-size: 24px;
	width: 200px;
	height: 48px;
	display: block;
	text-decoration: none;
	margin-top: 90px;
	padding-top: 16px;
	text-align: center;
	font-weight: bold;
}

.title p {
	color: #555;
	font-size: 36px;
	text-align: center;
	margin-top: 60px;
	font-weight: bold;
}

.pluses div {
	text-align: center;
	width: 25%;
	float: left;
	color: #555;
}

.pluses img {
	width: 80px;
	height: 80px;
}

.pluses {
	margin-top: 80px;
}

.pluses:after {
	content: '';
	display: table;
	clear: both;
}

footer {
	margin-top: 80px;
	width: 100%;
	height: 60px;
	background: #666;
	color: #ccc;
	text-align: center;
	padding-top: 5px;
}