<div class="cont">
	<h1 style="text-align: center"> Оберіть тест <p>
	<div class="category_block">
		<div class="category" >
			<a href="https://zno.osvita.ua/mathematics/" target="_blank"> Математика </a>
		</div>
		<div class="category">
		<a href="https://zno.osvita.ua/physics/" target="_blank"> Фізика </a>
		</div>
		<div class="category">
			<a href="https://zno.osvita.ua/biology/" target="_blank"> Біологія </a>
		</div>
		<div class="category" >
			<a href="https://zno.osvita.ua/mathematics/" target="_blank"> Українська мова </a>
		</div>
		<div class="category">
		<a href="https://zno.osvita.ua/physics/" target="_blank"> Історія України </a>
		</div>
		<div class="category">
			<a href="https://zno.osvita.ua/biology/" target="_blank"> Географія </a>
		</div>
	</div>
</div>
