<div class="cont">
	<h1 style="text-align: center"> Оберіть тест <p>
	<div class="category_block">
		<div class="category" >
			<a href="https://zno.osvita.ua/mathematics/"> Математика </a>
		</div>
		<div class="category">
		<a href="https://zno.osvita.ua/physics/"> Фізика </a>
		</div>
		<div class="category">
			<a href="https://zno.osvita.ua/biology/"> Біологія </a>
		</div>
		<div class="category" >
			<a href="https://zno.osvita.ua/mathematics/"> Українська мова </a>
		</div>
		<div class="category">
		<a href="https://zno.osvita.ua/physics/"> Історія України </a>
		</div>
		<div class="category">
			<a href="https://zno.osvita.ua/biology/"> Географія </a>
		</div>
	</div>
</div>
