<div class="cont">
	<h3 style="text-align: center"> Оберіть тест <p>
	<div class="category_block">
		<div class="category">

		</div>
		<div class="category">

		</div>
		<div class="category">

		</div>
	</div>
</div>